services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: vaultpay
      POSTGRES_PASSWORD: vaultpay
      POSTGRES_DB: vaultpay
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  api:
    build:
      context: ..
      dockerfile: infra/Dockerfile.api
    env_file:
      - ../.env
    depends_on:
      - postgres
      - redis
    ports:
      - "8000:8000"

volumes:
  pgdata: